RewriteEngine on
RewriteCond %{HTTP_HOST} ^mybooking.mariewebdesign.fr$ [NC,OR]
RewriteCond %{HTTP_HOST} ^mybooking.mariewebdesign.fr$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
