body{background-color: #e6e6e6;color:#232323}

a{color:indianred;}
a:hover{color:indianred;}

.container{margin-top:1.2em;}

.ad-title{background-size:cover;background-position:center center;padding:1em;}
.ad-title .container{margin-top:0}
.ad-title h1,.ad-title h5,.ad-title p{color:#fff;text-shadow:3px 3px 3px rgba(0,0,0,0.5);}

.carousel-caption{text-shadow:3px 3px 3px rgba(0,0,0,0.5);}

.avatar{width:128px;height:128px;border-radius:50%}
.avatar-medium{max-width:64px;max-height:64px;}
.avatar-small{max-width:32px;max-height:32px;}
.avatar-xs{max-width:26px;max-height:26px;}

.datepicker table tr td.disabled, .datapicker table tr td.disabled:hover{color:indianred!important;text-decoration:line-through}
blockquote{font-style:oblique;color:rgb(90,81,81)}

.rating i{color:goldenrod}

small{text-transform:initial}

.table-primary{background:#232323;color:#f1f1f1}

footer{position:fixed;bottom:0;width:100%;color:#fcfcfc}

