{% extends 'base.html.twig' %}

    {% block body %}

    <main class="container">
        <div class="jumbotron mt-3">
            <h1 >{{titre}}</h1>
            <p class="lead">Connectez-vous pour accéder à votre compte</p>
            <hr class="my-4">
            <p>Plus d'informations</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Plus d'infos</a>
            </p>
        </div>
        <h3 class="h1 mt-3 mb-5">Offres spéciales</h3>
        <section class="row">
             <article class="col-md-4">
                  <div class="card mb-3 ">
                        <h3 class="text-white bg-primary h5 card-header">3 chambres, <strong>50 &euro;</strong>/ nuit</h3>
                        <img src="http://placeimg.com/640/480/peaople" alt="Card image" style="height:200px;width:100%;display:block;">
                        <div class="card-body">
                            <h5 class="card-title">Loft à Londres</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat ipsum, dolorem nesciunt placeat aut temporibus sequi ut enim illum! Obcaecati tempore itaque labore minus</p>
                            <a href="#" class="btn btn-primary">Plus d'infos</a>
                        </div>                      
                        <div class="card-footer text-muted">
                            Pas encore noté.
                        </div>
                 </div>
             </article>
            <article class="col-md-4">
                  <div class="card mb-3">
                        <h3 class="text-white bg-primary h5 card-header">5 chambres, <strong>250 &euro;</strong>/ nuit</h3>
                        <img src="http://placeimg.com/640/480/nature" alt="Card image" style="height:200px;width:100%;display:block;">
                        <div class="card-body">
                            <h5 class="card-title">Maison dans le main</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat ipsum, dolorem nesciunt placeat aut temporibus sequi ut enim illum! Obcaecati tempore itaque labore minus</p>
                            <a href="#" class="btn btn-primary">Plus d'infos</a>
                        </div>                      
                        <div class="card-footer text-muted">
                            Pas encore noté.
                        </div>
                 </div>
             </article>
            <article class="col-md-4">
                  <div class="card mb-3">
                        <h3 class="text-white bg-primary h5 card-header">2 chambres, <strong>150 &euro;</strong>/ nuit</h3>
                        <img src="http://placeimg.com/640/480/arch" alt="Card image" style="height:200px;width:100%;display:block;">
                        <div class="card-body">
                            <h5 class="card-title">Appartement à Cannes</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat ipsum, dolorem nesciunt placeat aut temporibus sequi ut enim illum! Obcaecati tempore itaque labore minus</p>
                            <a href="#" class="btn btn-primary">Plus d'infos</a>
                        </div>                      
                        <div class="card-footer text-muted">
                            Pas encore noté.
                        </div>
                 </div>
             </article>
        
        </section>
        <h3 class="h1 mt-3 mb-4">Nos meilleurs annonceurs</h3>
        <section class="row">
             <article class="col-md-3">
                  <div class="card mb-3 ">
                        <h3 class="bg-warning text-primary h5 card-header">John Doe</h3>
                        <div class="card-body">
                            <img src="http://placehold.it/64x64" alt="avatar de ..." class="float-left mr-3">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat ipsum, dolorem nesciunt placeat aut temporibus sequi ut enim illum! Obcaecati tempore itaque labore minus</p>
                            <a href="#" class="btn btn-warning text-primary">Plus d'infos</a>
                        </div>                      
                     </div>
             </article>
             <article class="col-md-3">
                  <div class="card mb-3 ">
                        <h3 class="bg-warning text-primary h5 card-header">John Doe</h3>
                        <div class="card-body">
                            <img src="http://placehold.it/64x64" alt="avatar de ..." class="float-left mr-3">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat ipsum, dolorem nesciunt placeat aut temporibus sequi ut enim illum! Obcaecati tempore itaque labore minus</p>
                            <a href="#" class="btn btn-warning text-primary">Plus d'infos</a>
                        </div>                      
                     </div>
             </article>
             <article class="col-md-3">
                  <div class="card mb-3 ">
                        <h3 class="bg-warning text-primary h5 card-header">John Doe</h3>
                        <div class="card-body">
                            <img src="http://placehold.it/64x64" alt="avatar de ..." class="float-left mr-3">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat ipsum, dolorem nesciunt placeat aut temporibus sequi ut enim illum! Obcaecati tempore itaque labore minus</p>
                            <a href="#" class="btn btn-warning text-primary">Plus d'infos</a>
                        </div>                      
                     </div>
             </article>
             <article class="col-md-3">
                  <div class="card mb-3 ">
                        <h3 class="bg-warning text-primary h5 card-header">John Doe</h3>
                        <div class="card-body">
                            <img src="http://placehold.it/64x64" alt="avatar de ..." class="float-left mr-3">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat ipsum, dolorem nesciunt placeat aut temporibus sequi ut enim illum! Obcaecati tempore itaque labore minus</p>
                            <a href="#" class="btn btn-warning text-primary">Plus d'infos</a>
                        </div>                      
                     </div>
             </article>
            
        </section>

    </main>
    {% endblock %}
