{% extends 'base.html.twig' %}
{% block title %}Accès serveur impossible{% endblock %}

{% block body %}

<main class="container text-center mt-5">
    <h1>Le serveur ne répond plus</h1>

        <h2 class="h4 mt-3">Veuillez patientez et recharger la page dans quelques instants</h2>


</main>

{% endblock %}